.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
}

.text-black {
  color: black;
  font-size: xx-large;
  margin: 0;
}

.form label {
  text-align: left;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
}

.form button {
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.mr-10 {
  margin-right: 10px;
}

.form button:hover {
  background-color: #0056b3;
}
