#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.tracker-container {
  flex: 1;
  margin-right: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.history-container {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  margin-top: -4rem;
  margin-left: 2rem;
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  .tracker-container,
  .history-container {
    margin: 0;
  }
}
